body
{
	font-size: 62.5%;		
}

h1, h2, h3, p
{
	margin: 0;
	letter-spacing: 0.5px;
}

ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix:before,
.clearfix:after
{
	display: table;
	content: " ";
}

.clearfix:after
{
	clear: both;	
}

/* =============
     自定义样式  
   ============= */

/*   header   */

header .content
{
	font-size: 2em;
	color: #038fd4;
	margin: 2em;
	margin-left: 4em;
	line-height: 4em;
}

@media screen and (max-width: 55em) {
	header .content
	{
		text-align: center;
		margin: 0 0 2em;
	}
}

@media screen and (max-width: 40em) {
	header .content
	{
		text-align: center;
		margin: 0 0 2em;
	}
}

/*   时间   */

.container
{
	width: 90%;
	margin: 0 auto;
}

.container .item h2
{
	float: left;
	width: 16%;
	color: #66CCFF;
	font-size: 2rem;
	line-height: 2.2rem;
	text-align: right;
}

.container .item h2 .date
{
	font-size: 0.3rem;
	color: #9c9c9c;
	font-style: normal;
	display: block;
}

@media screen and (max-width: 55em) {
	.container .item h2
	{
		font-size: 1.5rem;
		line-height: 1.7rem;
	}
}

@media screen and (max-width: 40em) {
	.container .item h2
	{
		width: 100%;
		text-align: left;
	}
}

/*   内容   */

.container .item .wrapper
{
	box-sizing: border-box;
	width: 83%;
	float: right;
	border-left: #66ccff 7px solid;
}

@media screen and (max-width: 40em) {
	.container .item .wrapper
	{
		margin-top: 1rem;
		border-left: 0;
		width: 100%;
	}	
}

.container .item .wrapper .content
{
	position: relative;
	float: right;
	width: 93%;
	margin-bottom: 1rem;
	border-radius: 5px;
	color: #fff;
	background-color: #66CCFF;
}

@media screen and (max-width: 40em) {
	.container .item .wrapper .content
	{
		width: 100%;
	}
}


.container .item .wrapper .content article
{
	padding: 2.2rem 2rem;
}

.container .item .wrapper .content article:after
{
	content: ' ';
	position: absolute;
	right: 100%;
	top: 10px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right: 10px solid #66ccff;
}

@media screen and (max-width: 40em) {
	.container .item .wrapper .content article:after
	{
		content: ' ';
		position: absolute;
		top: -20px;
		left: 15px;
		width: 0;
		height: 0;
		border: 10px solid transparent;
		border-bottom: 10px solid #66ccff;
	}
}

.container .item:nth-child(even) .wrapper .content article:after
{
	border-right-color: #52a3cc;
}

@media screen and (max-width: 40em) {

	.container .item:nth-child(even) .wrapper .content article:after
	{
		border-right-color: transparent;
		border-bottom-color: #52a3cc;
	}

}

.container .item:nth-child(even) .wrapper .content article
{
	background-color: rgba(0,0,0,0.2);
	border-radius: 5px;
}


.container .item .wrapper .content article .title
{

	font-size: 1.7rem;
	font-weight: 900;
	line-height: 2.5rem;
}

.container .item .wrapper .content article .hr
{
	height: 1px;
	background-color: #e2e2e2;
	margin-bottom: 1rem;
}

.container .item .wrapper .content article .text
{
	font-size: 0.9rem;
	line-height: 1.4rem;
}

